*{
    background-color: rgb(168, 233, 233);
}
div{
    background-color: blueviolet;
}
.div1{
    background-color: brown;
}
.div2{
    background-color: chartreuse;

}
.div3{
    background-color: rgb(0, 255, 13);
}
#d1-{
    background-color: darkorange;
}
.div1{
    background-color: dimgrey;
}